
/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: black;
    height: 100vh;

}

/* ESTILO DO CABEÇALHO HEADER */

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #23232e;
    height: 15vh;
}